* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.menu-lateral {
    position: fixed;
    top: 20px;
    bottom: 20px;
    left: 20px;
    width: 220px;
    padding: 24px;

    background-color: #ffffff; 
    color: #4a0c0c; 

    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    border: 1px solid #e9c46a;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.menu-lateral-logo {
    font-family: "Great Vibes" Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 24px;
    cursor: pointer;
    text-align: center;
    color: #4a0c0c;
    letter-spacing: 2px;
    text-shadow: 3px 2px 1px #e9c46a;
}

.menu-lateral-logo-imagen {
    width: 90%;
    border-radius: 10px;
    transition: ease-in-out 0.3s;
    border: 2px solid #e9c46a;
}


.menu-lateral-navegacion {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    align-items: center;
}

.menu-lateral-navegacion-item {
    width: 100%;
    padding: 12px;
    border-radius: 10px;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    background-color: #4a0c0c; 
    color: #ffffff; 
    border: 1px solid #e9c46a;

    cursor: pointer;
    transition: all 0.3s ease;
}

.menu-lateral-navegacion-item:hover {
    background-color: #e9c46a; 
    color: #4a0c0c;
    border-color: #4a0c0c;
    transform: scale(1.05);
}


body {
    background-image: url('/biblioteca.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
